<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>name</key>
			<string>Section1</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>SectionB</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>SectionD</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Section4</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>SectionP</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Section3</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>SectionF</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>SectionG</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
